{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load account %}

{% block title %}
    Password Reset Done
{% endblock title %}

{% block content %}
    <div class="login">
    <h1><a href="index.html">Snippets </a></h1>
    <div class="login-bottom">
      <h1>Password Reset</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
   <div class="clearfix"> </div>
    </div>
  </div>
    <!---->
<div class="copy-right">
            <p> &copy; 2016 Minimal. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>     </div>
{% endblock content %}