{% extends 'base.html' %}

{% load static %}

{% load i18n %}
{% load account %}

{% block title %}
    Password Reset
{% endblock title %}

{% block content %}
    <div class="login">
    <h1><a href="index.html">Snippets </a></h1>
    <div class="login-bottom">
      <h2>Password Reset</h2>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

        <form action="{% url 'account_reset_password' %}" method="post">{% csrf_token %}
          <div class="col-md-6">
              <input type="email" name="email" placeholder="E-mail address" id="id_email">

          </div>
          <div class="col-md-6 login-do">
            <label class="hvr-shutter-in-horizontal login-sub">
              <input type="submit" value="Reset Password">
            </label>
          </div>
        </form>
        
      <div class="clearfix"> </div>
    </div>
  </div>
    <!---->
<div class="copy-right">
            <p> &copy; 2016 Minimal. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>     </div>
{% endblock content %}