{% extends "base.html" %}
{% load static %}

{% block title %}Password Change Form{% endblock %}
{% block content %}
    
    <div class="login">
        <h1><a href="index.html">Snippets </a></h1>
        
        <div class="login-bottom">
            <h2>Change Password</h2>
    
            <form action="" method="post">{% csrf_token %}
            <div class="col-md-6">
                <div class="login-mail">
                  <label for="old_password" class="sr-only">Old Password</label>
                    <input type="password" placeholder="Old Password" name="oldpassword" id="old_password" required="">
                    <i class="fa fa-lock"></i>
                </div>
                <div class="login-mail">
                  <label for="new_password1" class="sr-only">New Password</label>
                    <input type="password" placeholder="New Password" name="password1" id="new_password1" required="">
                    <i class="fa fa-lock"></i>
                </div>
                <div class="login-mail">
                  <label for="new_password2" class="sr-only">Repeat New Password</label>
                    <input type="password" placeholder="Confirm New Password" name="password2" id="new_password2" required="">
                    <i class="fa fa-lock"></i>
                </div>
                   
            </div>
            <div class="col-md-6 login-do">
                <label class="hvr-shutter-in-horizontal login-sub">
                    <input type="submit" value="Change password" name="action">
                    </label>
                  
            </div>
            
            <div class="clearfix"> </div>
            </form>
        </div>
    </div>
        <!---->
<div class="copy-right">
            <p> &copy; 2016 Minimal. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>     </div>  
<!---->
<!--scrolling js-->
    <script src="{% static 'accounts/js/jquery.nicescroll.js' %}"></script>
    <script src="{% static 'accounts/js/scripts.js' %}"></script>
    <!--//scrolling js-->
{% endblock content %}
