{% extends 'base.html' %}

{% load static %}

{% load i18n %}

{% block title %}
    Change Password
{% endblock title %}

{% block content %}
    <div class="login">
    <h1><a href="index.html">Snippets </a></h1>
    <div class="login-bottom">
      <h1>Change Password</h1>
    <p>Your password is now changed.</p>
   <div class="clearfix"> </div>
    </div>
  </div>
    <!---->


<div class="copy-right">
            <p> &copy; 2016 Minimal. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>     </div>
{% endblock content %}