<ul class="pagination" role="navigation" aria-label="Pagination">

{% if page_obj.has_previous %}
    <li class="pagination-previous"><a href="?page={{ page_obj.previous_page_number }}"><i aria-hidden="true"></i>Previous</a> <span class="show-for-sr">page</span></li>
{% else %}
    <li class="pagination-previous disabled"><span><i class="pagination-previous" aria-hidden="true"></i></span> Previous</li>
{% endif %}

{% if page_obj.number|add:'-4' > 1 %}
    <li><a href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
{% endif %}

{% for i in page_obj.paginator.page_range %}
    {% if page_obj.number == i %}
        <li class="active current"><span>{{ i }} <span class="show-for-sr">(current)</span></span></li>
    {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
{% endfor %}

{% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
    <li><a href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
{% endif %}

{% if page_obj.has_next %}
    <li class="pagination-next"><a href="?page={{ page_obj.next_page_number }}"><i aria-hidden="true"></i>Next </a></li>
{% else %}
    <li class="pagination-next disabled"><span><i aria-hidden="true"></i></span>Next </li>
{% endif %}

</ul>