body{
  background-color: #F3F3F4;
}
.top-bar, .top-bar ul {
  background-color: #D95459;
  font-weight: 500;
  color: white;
  font-size: 30px;
  height: 37px;
}

ul.menu {
  position: relative;
  top: -17px;
}
[name=copy]
{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 0.8rem;
    padding: 0.75rem 1rem;
    z-index: 1;
    border-top-right-radius: 5px;
    background: #d95459;
}
[name=copy]:hover
{
    background-color: #1abc9c;
}
.top-bar-title{
  position: relative;
  top: -20px;
}
.callout {
  border: none;
  border-radius: 5px;
}
.log-in-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 0;
}
.floated-label-wrapper {
  position: relative;
}
#main-body{
  padding-top: 30px;
}

footer p {
  font-size: 0.85em;
  color: #555;
  background-color: #fff;
  margin-top: 10px;
}
.floated-label-wrapper label input[type=text],
.floated-label-wrapper label input[type=email],
.floated-label-wrapper label input[type=password] {
  border-radius: 4px;
  font-size: 1.75em;
  padding: 0.5em;
}
.floated-label-wrapper label.show {
  opacity: 1;
  top: -0.85rem;
  z-index: 1;
  transition: all 0.15s ease-in;
}
#category {
  padding-top: 10px;
}

.title-bar, .input-group-button button{
  background-color: #D95459
}
.code {
  border-radius: 5px;
}
code {
  background-color: none;
  border: none;
}
.tabs-title a {
  color: #000;
}

.menu button, .menu button:hover {
  background: #1ABC9C;
}
.code-detail {
  font-size: 12px;
  top: -17px;
}
.code-detail, .code-actions, .code-stat{
  font-size: 12px;
  position: relative;
}
.code-detail a, .code-actions a{
  color: #D95459;
}
.code-stat {
  top: -17px;
}
@media (max-width: 240px) {
  #code-stat {
    display: none;
  }
}

#profile-pic {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}
